@page
@model Budżet_Domowy.Pages.Modifies.ModifyBudgetPartModel

@{
    ViewData["Title"] = "ModifyBudgetPart";
}

<h1>ModifyBudgetPart</h1>

<h4>BudgetPart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BudgetPart.Id" />
            <input asp-for="BudgetPart.BudgetId" type="hidden" />
            <input asp-for="BudgetPart.CreationTime" type="hidden" />
            <div class="form-group">
                <label asp-for="BudgetPart.DesiredTime" class="control-label"></label>
                <input asp-for="BudgetPart.DesiredTime" class="form-control" />
                <span asp-validation-for="BudgetPart.DesiredTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetPart.Name" class="control-label"></label>
                <input asp-for="BudgetPart.Name" class="form-control" />
                <span asp-validation-for="BudgetPart.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetPart.Amount" class="control-label"></label>
                <input asp-for="BudgetPart.Amount" class="form-control" />
                <span asp-validation-for="BudgetPart.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetPart.IsFinished" class="control-label"></label>
                <input asp-for="BudgetPart.IsFinished" type="checkbox" class="form-control" />
                <span asp-validation-for="BudgetPart.IsFinished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

